*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
      #009688 0px,
      #009688 15vh,
      #d2dbdc 15vh,
      #d2dbdc 100%
    );
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;

}

.app{
  height: 80vh;
  width: 80%;
  display: flex;
  margin-top: 50px;
  background-color: white;
}

/* L E F T  C H A T */
.left-chat{
  height: 80vh;
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
}


/* H E A D E R  L E F T */
.header-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
}

.header-left img{
  width: 40px;
  margin-left: 10px;
  border-radius: 20px;
}

.left-nav{
  margin-right: 10px;
}

.left-nav a{
  color: grey;
}

.left-nav a:nth-child(2){
  display: inline-block;
  margin: 0 5px;
}

/* M A I N  L E F T */
.main-left{
  width: 100%;
  flex-grow: 1;
  border: 1px solid green;
}

.notify{
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #8EDAFD;
}

.snooze{
  border: 1px solid white;
  padding: 6px;
  font-size: 20px;
  border-radius: 20px;
  background-color: white;
  color: #8EDAFD;
  margin: 0 10px;
}

.notify-text{
  display: flex;
  flex-direction: column;
}

.notify-text span:nth-child(1){
  font-size: 14px;
}

.notify-text span:nth-child(2){
  font-size: 10px;
  color: #655f5f;
  text-decoration: underline;
}

.chat{
  height: 40px;
  border: 1px solid red;
}

/* R I G H T  C H A T */
.right-chat{
  height: 80vh;
  display: flex;
  flex-direction: column;
  flex-basis: 65%;
}

.right-chat header{
  width: 100%;
  height: 50px;
  border: 1px solid black;
}

.right-chat main{
  width: 100%;
  flex-grow: 1;
  border: 1px solid green;
}

.right-chat footer{
  width: 100%;
  height: 50px;
  border: 1px solid black;
}
